---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="flex h-screen justify-center items-center bg-slate-50">
		<h1 class="text-6xl uppercase bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">Coming soon</h1>
	</body>
</html>
