---
const { className } = Astro.props
import clsx from 'clsx'
---

<div class="mx-auto max-w-2xl px-5 lg:max-w-5xl">
	<slot />
</div>

<!-- <div {clsx('sm:px-8', className)}>
	<div className="mx-auto w-full max-w-7xl lg:px-8">
		<div class={clsx('relative px-4 sm:px-8 lg:px-12', className)}>
			<div className="mx-auto max-w-2xl lg:max-w-5xl"><slot /></div>
		</div>
	</div>
</div> -->
